.thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.right-label {
    text-align: right;
    color: #333;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #62a8ea;
}

.p_bottom_10 {
    padding-bottom: 10px;
}
.p_bottom_15 {
    padding-bottom: 20px;
}
.p_bottom_10:before, .p_bottom_10:after, .p_bottom_15:before, .p_bottom_15:after {
    clear: both;
    display: table;
    content: " ";
}

.column-fixed {
    position:sticky;
    left:0;
    background-color:#fff;
    overflow:unset!important
}
.column-fixed::before {
    content:'';
    position:absolute;
    left:0;
    width:100%;
    bottom:-1px;
    border-bottom:1px solid #dee2e6
}
.column-fixed::after {
    position:absolute;
    top:0;
    right:0;
    bottom:-1px;
    content:'';
    pointer-events:none;
    transform:translateX(100%);
    box-shadow:inset 10px 0 8px -8px rgba(0,0,0,.15);
    transition:box-shadow .3s;
    width:24px;
}
.table thead th.column-fixed {
    background: rgba(243, 247, 249);
}
.table-striped tbody tr:nth-of-type(odd) td.column-fixed {
    background-color: rgba(243, 247, 249)
}
.table-hover tbody tr:hover td.column-fixed {
    background-color: #f3f7f9;
}